<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="card">
  <div class="container" style="    margin-left: 32%;
  margin-top: 9%;
  width: 150%;
  height: 400;">
      <div class="row">
          <div class="col-md-6">
              <div class="panel panel-primary" style="height: 450px;">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          <span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts</h3>
                  </div>
                  <div class="panel-body" style="    margin-top: 78px;">
                      <div class="row">
                          <div class="col-xs-6 col-md-6">
                            <a href="/admin-properties/" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Properties</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Bookmarks</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                          </div>
                          <div class="col-xs-6 col-md-6">
                            <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                          </div>
                      </div>
                      <a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



        <!-- <table class="table table-striped">
          <caption>Property requests</caption>
          
              <thead>
                <tr>
                  <th>  Userame</th>
                  <th>Group</th>
                  <th>Email</th>
                  <th>First name</th>
                  <th>last name</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                      {% for u in users %}
                      <a href="/">
                 <tr>
                      <td>{{ u.username }}</td>
                      <td>{{ u.groups }}</td>
                      <td>{{ u.email }}</td>
                      <td>{{ u.first_name }}</td>
                      <td>{{ u.last_name }}</td>  
                      <td><input type="checkbox" name="name2" />&nbsp;</td>
                </tr>
              </a>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>


                               
   <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70% !important;
      margin-left: 18% !important;
      margin-top: -40% !important;
      position: absolute;
    }
            
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style> -->
     
 
    
   <style>
   body { padding-top:20px; }
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
   </style> 
    
    
    
    
</body>

</html>