<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desma Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{%static 'home/images/icon.png'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'home/styles/agent.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'home/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="home">
  <div class="container-fluid display-table">
    {% include 'includes/agenthead.html' %}

  </div>
<div class="container">
    <!-- <button type="submit"  id="view1" onclick="viewBookings()">View listings</button><br>
    <button type="submit" id="view2" onclick="viewListings()">View Booked Viewings</button><br>  -->

    <div></div>
</div>
  <script>
document.querySelector('.button').onmousemove = function (e) {

var x = e.pageX - e.target.offsetLeft;
var y = e.pageY - e.target.offsetTop;

e.target.style.setProperty('--x', x + 'px');
e.target.style.setProperty('--y', y + 'px');
};
  </script>

  <style>


.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #2b2c5a;
  padding: 0.4em 0.7em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  position: absolute;
    margin-left: 80%;
    margin-top: -39%;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button:hover::before {
  --size: 400px;
}

  </style>
  <a href="/list/">
<button class="button">
        <span>Add Property</span>
    </button>
</a>
    <div class="row">
        <h5 style="    margin-left: 20%;
        margin-top: -3%;">Properties you have listed</h5>  
            <div class="col-md-8" style="margin-left: 20%;margin-top: -34%;    overflow: auto;
            max-height: 85vh;">
                    {% for property in propt %}
                
                    <div class="well col-sm-12" style="color: black;object-fit: contain;">
                        <div class="property-image">
                            <img src="{{ property.property_picture.url }}" class="col-lg-4 col-md-5 col-sm-6">
                            <div class="property_room_title"><b>{{ property.propertytitle }} at {{ property.location }} </b></div>
                        </div>
                        <div class="property-details col-lg-8 col-md-7 col-sm-6">
                            <p>{{ property.description |truncatechars:100 }}</p>
                            <div class="row">

                                <div class="property_room col-md-3">
                                    <div class="property_room_title">Bedrooms</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{%static 'MySite/images/room_1.png'%}" alt=""></div>
                                        <div class="room_num">{{ property.bedrooms }}</div>
                                    </div>
                                </div>
                                <div class="property_room col-md-3">
                                    <div class="property_room_title">Bathrooms</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{%static 'MySite/images/room_2.png'%}" alt=""></div>
                                        <div class="room_num">{{ property.bathrooms }}</div>
                                    </div>
                                </div>
                                <div class="property_room col-md-3">
                                    <div class="property_room_title">Area</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{%static 'MySite/images/room_3.png'%}" alt=""></div>
                                        <div class="room_num">{{ property.area }}Sq Ft</div>
                                    </div>
                                </div>
                                <div class="property_room col-md-3">
                                    <div class="property_room_title">Garage</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="{%static 'MySite/images/room_5.png'%}" alt=""></div>
                                        <div class="room_num">{{ property.garage }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/agent-edit-property/{{property.propertytitle}}/">
                        <button type="button" class="btn btn-primary" style="margin-left: 45%;
                        margin-top: 2%;">Edit</button></a>

                        <button type="button" class="btn btn-danger"  style="margin-left: 3%;margin-top: 2%;"><a href="#myModal" class="trigger-btn" data-toggle="modal" style="    color: white;">Delete</a></button>
                    </div>
                
                    {% endfor %}

                 <div class="pagination">
                    <span class="step-links">
                        {% if propt.has_previous %}
                            <a href="?page={{ propt.previous_page_number }}">Previous</a>
                        {% endif %}  
                    
                        <span class="current">
                            Page {{ propt.number }} of {{ propt.paginator.num_pages }}
                        </span>
                        {% if propt.has_next %}  
                            <a href="?page={{ propt.next_page_number }}">Next </a>
                        {% endif %}
                    </span>
                </div>
            </div> 
            <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box">
                                        <i class="far fa-trash-alt"></i>
                                </div>				
                                <h4 class="modal-title">Are you sure?</h4>	
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete this property? This process cannot be undone.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>  
    </div>


  <!-- Modal -->

  
</body>
</html>