<!DOCTYPE html>
{% load static %}
<html>
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'home/styles/main.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="supercontainer">
        <!-- header -->
        <header>
            {% include "includes/header.html" %} 
        </header>

        <!-- Intro -->
        
    </div>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    
    <div class="container-fluid">
    <h1 class="text-center">Contact Us</h1>
    <hr>
    <div class="mapouter" style="margin-left: 1.5%;"><div class="gmap_canvas"><iframe width="1280" height="417" id="gmap_canvas" src="https://maps.google.com/maps?q=kenyatta%20university&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.jetzt-drucken-lassen.de"></a></div><style>.mapouter{text-align:right;height:617px;width:1280px;}.gmap_canvas {overflow:hidden;background:none!important;height:617px;width:1280px;}</style> <a href="https://www.embedgooglemap.net" rel="nofollow" target="_blank"></a></div>
        
    </div>
    
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="UJP9Q9NURMMKA">
        <table>
        <tr><td><input type="hidden" name="on0" value="Payment Plans">Payment Plans</td></tr><tr><td><select name="os0">
            <option value="Monthly subscription">Monthly subscription : $15.00 USD - monthly</option>
            <option value="Annual subscription">Annual subscription : $210.00 USD - yearly</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
    </div>
    
    <style>
        hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}

</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>