<!DOCTYPE html>
{% load static %}
<html>
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'home/styles/main.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="supercontainer">
        <!-- header -->
        <header>
            {% include "includes/header.html" %} 
        </header>

        <!-- Intro -->
        
    </div>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    
    <div class="container-fluid">
    <h1 class="text-center">Contact Us</h1>
    <hr>
    <div class="mapouter" style="margin-left: 1.5%;"><div class="gmap_canvas"><iframe width="1280" height="417" id="gmap_canvas" src="https://maps.google.com/maps?q=kenyatta%20university&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.jetzt-drucken-lassen.de"></a></div><style>.mapouter{text-align:right;height:617px;width:1280px;}.gmap_canvas {overflow:hidden;background:none!important;height:617px;width:1280px;}</style> <a href="https://www.embedgooglemap.net" rel="nofollow" target="_blank"></a></div>
        
    
    <!-- <div class="row text-center">
          <div class="col-4 box1 pt-4">
            <a href="tel:+123456789"><i class="fas fa-phone fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
            <p class="d-none d-lg-block d-xl-block">+123456789</p></a>
          </div>
          <div class="col-4 box2 pt-4">
            <a href=""><i class="fas fa-home fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Address</h3>
            <p class="d-none d-lg-block d-xl-block">Piazza del Colosseo, 1, 00184 Roma RM</p></a>
          </div>
          <div class="col-4 box3 pt-4">
            <a href="mailto:test@test.com"><i class="fas fa-envelope fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
            <p class="d-none d-lg-block d-xl-block">test@test.com</p></a>
          </div>
        </div> -->
    </div>
    

    </div>
    <style>
        hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}

    </style>
</body>
</html>