{% load static %}
<link rel="shortcut icon" type="image/png" href="{%static 'home/images/icon.png'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'home/styles/agent.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'home/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid display-table">
        {% include 'includes/agenthead.html' %}
      </div>

  <div class="supercontainer">    
<div class="container" style="     width: 1000px;
margin-left: 18%;
margin-top: -38%; position: absolute;  ">
        <a href="/agent/"><i class="fa fa-chevron-left"></i></a>
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Owner Details</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Property Details</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Media</p>
        </div>
        <div class="stepwizard-step">
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p>Finish</p>
        </div>
    </div>
</div>
<form role="form" method="post" action="/list/" id="list_form">
    {% csrf_token %}
    <div class="row setup-content" id="step-1">
        <div class="row">
            <div class="col-md-12">
                <h3> Owner Details </h3>
                <h5>Please provide your details below</h5>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input  maxlength="100" type="text" required="required" class="form-control" name="agent" placeholder="Enter First Name" value="{{ request.user.username}}" />
                </div>
                <!-- <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Last Name" value="{{ request.user.last_name}}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <input maxlength="100" type="tel" required="required" class="form-control" placeholder="Mobile Number" value="" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input maxlength="100" type="email" required="required" class="form-control" placeholder="email" value="{{ request.user.email}}"/> -->
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2" style="width: 1000px;
    margin-left: 18%;
    margin-top: -34%; position: absolute; "> 
        <div class="row">
                <h3>Property  Details</h3>
                <h5>Provide details on the property to be listed in this section</h5>
                <div class="form-group">
                        <label for="name">Property Title</label>
                        <input type="text" class="form-control" name="propertytitle" placeholder="Title">
                      </div>
                      <div class="form-group">
                        <label for="seeAnotherField">Property Type</label>
                        <select class="form-control" id="seeAnotherField" name="propertytype">
                              <option value="Commercial">Commercial</option>
                              <option value="Residential">Residential</option>
                        </select>
                      </div>
              
                      <!--Residential -->
                      <div class="form-group" id="otherFieldDiv">
                          <div class="row">
                              <div class="col-md-6">
                                      <label for="otherField">Rent/Sale</label>
                                      <select class="form-control" id="otherField" name="rentbuy">
                                        <option>Rent</option>
                                        <option>Sale</option>
                                      </select>
                              </div>
                              <div class="col-md-6">
                                      <label for="otherFieldLocation">Location</label>
                                      <input type="text" class="form-control" name="location" placeholder="Location">
                              </div>
                          </div>
              
                         <div class="row">
                              <div class="col-md-4">
                                      <label for="otherFieldPrice">Price</label>
                                      <input type="number" class="form-control" name="price" placeholder="Price">
              
                              </div>
                              <div class="col-md-4">
                                      <label for="otherFieldPrice">Bedrooms</label>
                                      <input type="number" class="form-control" name="bedrooms" placeholder="Bedrooms">
                              </div>
              
                              <div class="col-md-4">
                                      <label for="otherFieldBathrooms">Bathrooms</label>
                                      <input type="number" class="form-control" name="bathrooms" placeholder="Bathrooms">
                              </div>
                         </div>
              
                         <div class="row">
                          <div class="col-md-4">
                                  <label for="otherFieldArea">Area</label>
                                  <input type="number" class="form-control" name="area" placeholder="Area">
                          </div>
                          <div class="col-md-4">
                                  <label for="otherFieldPatio">Patio</label>
                                  <input type="number" class="form-control" name="patio" placeholder="Patio">
                          </div>
                          <div class="col-md-4">
                        <label for="otherFieldGarage">Garage</label>
                        <input type="number" class="form-control" name="garage" placeholder="Garage">
                          </div>
                         </div>
                         <label for="otherFieldDescription">Description</label>
                         <textarea class="form-control" name="description" rows="3"></textarea>
              
              
                      </div>
              
              
                      <!-- Commercial -->
                      <div class="form-group" id="otherFieldDiv2">
              
                        <div class="row">
                              <div class="col-md-6">
                                      <label for="otherField2">Rent/Sale</label>
                                      <select class="form-control" id="otherField" name="rentbuy">
                                        <option>Rent</option>
                                        <option>Sale</option>
                                      </select>
                              </div>
                              <div class="col-md-6">
                                      <label for="otherField2Location">Location</label>
                                      <input type="text" class="form-control" name="location" placeholder="Location">
                              </div>
                          </div>
              
                         <div class="row">
                              <div class="col-md-12">
                                      <label for="otherField2Price">Price</label>
                                      <input type="number" class="form-control" name="price" placeholder="Price">
              
                              </div>
                         </div>
              
                         <div class="row">
                          <div class="col-md-4">
                                  <label for="otherField2Area">Area</label>
                                  <input type="number" class="form-control" name="area" placeholder="Area">
                          </div>
                          <div class="col-md-4">
                                  <label for="otherField2Patio">Patio</label>
                                  <input type="number" class="form-control" name="patio" placeholder="Patio">
                          </div>
                          <div class="col-md-4">
                        <label for="otherField2Garage">Garage</label>
                        <input type="number" class="form-control" name="garage" placeholder="Garage">
                          </div>
                         </div>
                         <label for="otherField2Description">Description</label>
                         <textarea class="form-control" name="description" rows="4"></textarea>
              
                      </div>
              
                            
<script>$("#seeAnotherField").change(function() {
if ($(this).val() == "Residential") {
$('#otherFieldDiv').show();
$('#otherFieldDiv2').hide();
$('#otherField').attr('required','');
$('#otherField').attr('data-error', 'This field is required.');
} else {
$('#otherFieldDiv').hide();
$('#otherFieldDiv2').show();
$('#otherField').removeAttr('required');
$('#otherField').removeAttr('data-error');				
}
});
$("#seeAnotherField").trigger("change");


</script>
            

            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
    </div>
    <div class="row setup-content" id="step-3" style=" width: 1000px;
    margin-left: 18%;
    margin-top: -30%; position: absolute; "> 
            <h5>
                Add pictures of the property
            </h5>
            <div class="col-md-3">
                <input type="file" placeholder="Main Picture" name="property_picture">
            </div>
            <div class="col-md-3">
                <input type="file" placeholder="Bedroom">
            </div>
            <div class="col-md-3">
                <input type="file" placeholder="Living room">
            </div>
            <div class="col-md-3">
                <input type="file" placeholder="Kitchen">
            </div>
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
    <div class="row setup-content" id="step-4" style="width: 1000px;
    margin-left: 18%;
    margin-top: -35%; position: absolute;" >
        <div class="row">
            <div class="col-md-12">
                <h3> You're Done! </h3>
                <br>
                <p></p>

                <input type="submit" value="Finish">             
            </div>
        </div>
    </div>
</form>

</div>
</div>
<style>
    body{ 
    /* margin-top:40px;  */
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
</style>

<script>
    $(document).ready(function () {

var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

allWells.hide();

navListItems.click(function (e) {
    e.preventDefault();
    var $target = $($(this).attr('href')),
            $item = $(this);

    if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-primary').addClass('btn-default');
        $item.addClass('btn-primary');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
    }
});

allNextBtn.click(function(){
    var curStep = $(this).closest(".setup-content"),
        curStepBtn = curStep.attr("id"),
        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
        curInputs = curStep.find("input[type='text'],input[type='url']"),
        isValid = true;

    $(".form-group").removeClass("has-error");
    for(var i=0; i<curInputs.length; i++){
        if (!curInputs[i].validity.valid){
            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
    }

    if (isValid)
        nextStepWizard.removeAttr('disabled').trigger('click');
});

$('div.setup-panel div a.btn-primary').trigger('click');
});
</script>