<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desma Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{%static 'home/images/icon.png'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'home/styles/main.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'home/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <!-- <script src="{%static 'MySite/styles/main.js'%}"></script> -->
</head>
<body>
   
    <div class="supercontainer" >
        
            {% if user.is_authenticated %}
            <div class="row" style="background-color: #0e1a35;height: 31px;margin-top: -0.1%;">
                <div class="dropdown" style="color: white;margin-left: 1100px;display: inline-flex;">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #0e1a35;">ACCOUNT
                    <span class="caret"></span></button>
                    <a class="upper-links" style="border-right:solid 1px ;"></a> 
                    <a href="{% url 'logout' %}"><button type="button"  style="background-color: #0e1a35;">SIGN OUT
                    <span class="caret"></span></button></a>
                    <ul class="dropdown-menu">
                        <li><a href="/client/profile/">Profile</a></li>
                        <li><a href="/myproperties/">My Properties</a></li>
                        <li><a href="/client-bookings/">My Viewings</a></li>
                    </ul>
                </div>
            </div>
            {% else %}
                <div class="row" style="background-color: #0e1a35;height: 31px;margin-top: -0.1%;">
                    <ul style="color: white;margin-left: 1100px;display: inline-flex;">
                        <li class="upper-links"><a href="{% url 'login' %}?next={{request.path}}" style="color: white;">LOGIN </a></li>
                        <li class="upper-links"><a href="/register/" style="color: white;">SIGN UP</a></li>
                    </ul>
                </div>
            {% endif %}

        <!-- <div class="row" style="background-color: #0e1a35;height: 31px;margin-top: -0.1%;">
                <ul style="color: white;margin-left: 1100px;display: inline-flex;">
                    <li class="upper-links">
                        <li class="menu-has-children" style="color: #ffffff;"><a href="">ACCOUNT</a>
                            <ul style="display: none;">
                                <li><a>SIGN OUT</a></li>
                            </ul>
                        </li>
                </ul>
            </div> -->

        <!-- header -->
        <header>
            {% include "includes/header.html" %} 
        </header>
        <div class="container">
            <style>
                hr {border-top: 1px solid #000; width:50%;}
            </style>
            <div class="col">
                    <h2 class="text-center">List Your Property</h2>
                    <hr>
                    <p>At Desma Properties, we are determined to exceed our clients' expectations - on every level, always. And, through our nearly 50 years' of knowledge and experience, superior systems, technology and of course, our total commitment, we're equipped to do so. 

                    We make it our business to continually evolve and identify new opportunities, which is why we offer a distinctive range of property services that spans residential and commercial sales and marketing , property management, corporate relocations, rentals and home loans.</p>
                    <br>
                    <br>
                    <p>You can request our agent to list your property for you<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Here
                          </button></p>

                    
                          {% for message in messages %} 
                          <div class="alert alert-success" role="alert">
                                  {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          
                        {% endfor %} 
                    <style>
                       
    .required:after { content:" *"; }
</style>
<!--                    
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                <p>Owner Details</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p>Property Details</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                <p>Media</p>
                            </div>
                            <div class="stepwizard-step">
                                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                    <p>Finish</p>
                            </div>
                        </div>
                    </div> -->
                    <form role="form" method="post" action="/ListProperty/" id="list_form">{% csrf_token %}                      
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Owner Details </h3>
                                    <h5>Please provide your details below</h5>
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input  maxlength="100" type="text" required="required" class="form-control" name="lister" placeholder="Enter First Name" value="{{ request.user.first_name}}" />
                                    </div>                             
                                </div>
                            </div>
                        
                            <div class="row">
                                    <h3>Property  Details</h3>
                                    <h5>Provide details on the property to be listed in this section</h5>
                                    <div class="form-group">
                                            <label for="name">Property Title</label>
                                            <input type="text" class="form-control" name="propertytitle" placeholder="Title">
                                          </div>
                                          <div class="form-group">
                                            <label for="seeAnotherField">Property Type</label>
                                            <select class="form-control" id="seeAnotherField" name="propertytype">
                                                  <option value="no">Commercial</option>
                                                  <option value="yes">Residential</option>
                                            </select>
                                          </div>
                                  
                                          <!--Residential -->
                                          <div class="form-group" id="otherFieldDiv">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                          <label for="otherField">Rent/Sale</label>
                                                          <select class="form-control" id="otherField" name="rentbuy">
                                                            <option>Rent</option>
                                                            <option>Sale</option>
                                                          </select>
                                                  </div>
                                                  <div class="col-md-6">
                                                          <label for="otherFieldLocation">Location</label>
                                                          <input type="text" class="form-control" name="location" placeholder="Location">
                                                  </div>
                                              </div>
                                  
                                             <div class="row">
                                                  <div class="col-md-4">
                                                          <label for="otherFieldPrice">Price</label>
                                                          <input type="number" class="form-control" name="price" placeholder="Price">
                                  
                                                  </div>
                                                  <div class="col-md-4">
                                                          <label for="otherFieldPrice">Bedrooms</label>
                                                          <input type="number" class="form-control" name="bedrooms" placeholder="Bedrooms">
                                                  </div>
                                  
                                                  <div class="col-md-4">
                                                          <label for="otherFieldBathrooms">Bathrooms</label>
                                                          <input type="number" class="form-control" name="bathrooms" placeholder="Bathrooms">
                                                  </div>
                                             </div>
                                  
                                             <div class="row">
                                              <div class="col-md-4">
                                                      <label for="otherFieldArea">Area</label>
                                                      <input type="number" class="form-control" name="area" placeholder="Area">
                                              </div>
                                              <div class="col-md-4">
                                                      <label for="otherFieldPatio">Patio</label>
                                                      <input type="number" class="form-control" name="patio" placeholder="Patio">
                                              </div>
                                              <div class="col-md-4">
                                            <label for="otherFieldGarage">Garage</label>
                                            <input type="number" class="form-control" name="garage" placeholder="Garage">
                                              </div>
                                             </div>
                                             <label for="otherFieldDescription">Description</label>
                                             <textarea class="form-control" name="description" rows="3"></textarea>
                                  
                                  
                                          </div>
                                  
                                  
                                          <!-- Commercial -->
                                          <div class="form-group" id="otherFieldDiv2">
                                  
                                            <div class="row">
                                                  <div class="col-md-6">
                                                          <label for="otherField2">Rent/Sale</label>
                                                          <select class="form-control" id="otherField" name="rentbuy">
                                                            <option>Rent</option>
                                                            <option>Sale</option>
                                                          </select>
                                                  </div>
                                                  <div class="col-md-6">
                                                          <label for="otherField2Location">Location</label>
                                                          <input type="text" class="form-control" name="location" placeholder="Location">
                                                  </div>
                                              </div>
                                  
                                             <div class="row">
                                                  <div class="col-md-12">
                                                          <label for="otherField2Price">Price</label>
                                                          <input type="number" class="form-control" name="price" placeholder="Price">
                                  
                                                  </div>
                                             </div>
                                  
                                             <div class="row">
                                              <div class="col-md-4">
                                                      <label for="otherField2Area">Area</label>
                                                      <input type="number" class="form-control" name="area" placeholder="Area">
                                              </div>
                                              <div class="col-md-4">
                                                      <label for="otherField2Patio">Patio</label>
                                                      <input type="number" class="form-control" name="patio" placeholder="Patio">
                                              </div>
                                              <div class="col-md-4">
                                            <label for="otherField2Garage">Garage</label>
                                            <input type="number" class="form-control" name="garage" placeholder="Garage">
                                              </div>
                                             </div>
                                             <label for="otherField2Description">Description</label>
                                             <textarea class="form-control" name="description" rows="4"></textarea>
                                  
                                          </div>
                                  
                                                
        <script>$("#seeAnotherField").change(function() {
                if ($(this).val() == "yes") {
                    $('#otherFieldDiv').show();
                    $('#otherFieldDiv2').hide();
                    $('#otherField').attr('required','');
                    $('#otherField').attr('data-error', 'This field is required.');
                } else {
                    $('#otherFieldDiv').hide();
                    $('#otherFieldDiv2').show();
                    $('#otherField').removeAttr('required');
                    $('#otherField').removeAttr('data-error');				
                }
            });
            $("#seeAnotherField").trigger("change");
            
            
        </script>
                                
                    
                            </div>
                       
                        
                                <h5>
                                    Add pictures of the property
                                </h5>
                                <div class="col-md-3">
                                    <input type="file" placeholder="Main Picture">
                                </div>
                                <div class="col-md-3">
                                    <input type="file" placeholder="Bedroom">
                                </div>
                                <div class="col-md-3">
                                    <input type="file" placeholder="Living room">
                                </div>
                                <div class="col-md-3">
                                    <input type="file" placeholder="Kitchen">
                                </div>
                              
                            
                        
                            <div class="row">
                                <div class="col-md-12">          
                                    <h3> Finish </h3>
                                                                         
                                </div>                              
                            </div>
                            <button type="submit">Submit</button>
                        
                    </form>                   
                    </div>

                    
                 <style>
                        body{ 
                        /* margin-top:40px;  */
                    }
                    
                    .stepwizard-step p {
                        margin-top: 10px;
                    }
                    
                    .stepwizard-row {
                        display: table-row;
                    }
                    
                    .stepwizard {
                        display: table;
                        width: 100%;
                        position: relative;
                    }
                    
                    .stepwizard-step button[disabled] {
                        opacity: 1 !important;
                        filter: alpha(opacity=100) !important;
                    }
                    
                    .stepwizard-row:before {
                        top: 14px;
                        bottom: 0;
                        position: absolute;
                        content: " ";
                        width: 100%;
                        height: 1px;
                        background-color: #ccc;
                        z-order: 0;
                    
                    }
                    
                    .stepwizard-step {
                        display: table-cell;
                        text-align: center;
                        position: relative;
                    }
                    
                    .btn-circle {
                      width: 30px;
                      height: 30px;
                      text-align: center;
                      padding: 6px 0;
                      font-size: 12px;
                      line-height: 1.428571429;
                      border-radius: 15px;
                    }
                    </style>
                    
                    <script>
                        $(document).ready(function () {
                    
                    var navListItems = $('div.setup-panel div a'),
                            allWells = $('.setup-content'),
                            allNextBtn = $('.nextBtn');
                    
                    allWells.hide();
                    
                    navListItems.click(function (e) {
                        e.preventDefault();
                        var $target = $($(this).attr('href')),
                                $item = $(this);
                    
                        if (!$item.hasClass('disabled')) {
                            navListItems.removeClass('btn-primary').addClass('btn-default');
                            $item.addClass('btn-primary');
                            allWells.hide();
                            $target.show();
                            $target.find('input:eq(0)').focus();
                        }
                    });
                    
                    allNextBtn.click(function(){
                        var curStep = $(this).closest(".setup-content"),
                            curStepBtn = curStep.attr("id"),
                            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                            curInputs = curStep.find("input[type='text'],input[type='url']"),
                            isValid = true;
                    
                        $(".form-group").removeClass("has-error");
                        for(var i=0; i<curInputs.length; i++){
                            if (!curInputs[i].validity.valid){
                                isValid = false;
                                $(curInputs[i]).closest(".form-group").addClass("has-error");
                            }
                        }
                    
                        if (isValid)
                            nextStepWizard.removeAttr('disabled').trigger('click');
                    });
                    
                    $('div.setup-panel div a.btn-primary').trigger('click');
                    });
                    </script>
                
            </div>

                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"></h5>
                              <h5>One of our agents will contact you to get details on the property you want to list.</h5><br>
                              <h5>You will be required to pay $15.00 USD per month or $210.00 USD annually for your property to be showcased on our site.</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form action="/listrequest/" method="POST" id="listrequestform">
                                {% csrf_token %}
                            
                            <div class="modal-body ">
                                    <label for="">Your Name:</label>
                                    <input class="form-control" type="text" placeholder="Your Name" name="name" value="{{ request.user.username}}">
                                    <label for="">Mobile No:</label>
                                   <br> <input class="form-control" type="tel" placeholder="Tel no" name="mobile_no">
                                   <label for="">Email:</label>
                                   <br> <input class="form-control" type="email" placeholder="Email" name="email">
                                   <p>Please provide your property's location</p>
                                   <label for="">Location:</label>
                                   <br> <input class="form-control" type="text" placeholder="Location" name="location">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>
         
</div>
    </div>
    {% block javascript %}
    {% endblock %}
   
<footer class="container-fluid text-center" style="background-color: #79e8c0 !important;">
    <p class="h6">&copy All rights Reserved.<br><br> Created and developed by: Wambui Kagiri</p>
</footer>
</body>
</html>

